*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, Arial, sans-serif;
}
/* common */
.text-center{
    text-align: center !important;
}
.text-white{
    color:#fff !important;
}
.clear {
    clear: both;
}
.row{
    margin-left:-8px;
    margin-right:-8px;
}
.col {
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}
.third-col{
    width:33.33333333%;
}
.half-col {
    width: 50%;
}
.full-col{
    width:100%;
}
.mt-8 {
    margin-top:8px;
}
.mt-16{
    margin-top:16px;
}
.btn:hover{
    background-color:#ccc;
    color:#000;
    cursor: pointer;
    border: none;
}
/* main */

#header{
    height:46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav > li {
    display:inline-block;
}
#nav li{
    position: relative;
}
#nav .subnav {
    top:100%;
    left: 0;
    display:none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #000;
    padding:8 8 16px;
    line-height: 38px;
    min-width:160px;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
#nav, .subnav {
    list-style-type: none;
}
#nav li:hover .subnav {
    display: block;
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#header .search-btn {
    padding: 0 23px;
    float: right;
    cursor: pointer;
} 
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover {
    background-color: #f44336;
}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top:50%;
    
}
#slider .text-content{
    color:#ccc;
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
}
#slider .text-heading{
    font-weight: 500;
    font-size:24px;
   
}
#slider .text-description{
    font-size: 15px;
    margin-top:25px;
}

#content .content-selection{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    padding:64px 0 112px;
}
#content .selection-heading {
    font-size:30px;
    font-weight:400px;
    letter-spacing: 4;
    text-align: center;
}
#content .selection-sub-heading{
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    padding:25px 0 15px;
    font-size: 15px;
}
#content .about-text{
    font-size: 15px;
    text-align: justify;
    padding-bottom: 45px;
}

#content .member-name{
    font-size:15px;
    padding-bottom: 15px;
}
#content .member-img{
    width:154px;
    border-radius:4px;
}
/* toursection */
.tour-selection{
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    margin-top: 30px;
}
.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}
.sold-out{
    color: #FFFFFF;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 20px;
}

.quantity{
    float: right;
    background-color: #000;
    color: #FFF;
    border-radius: 50%;
    width:24px;
    height:24px;
    text-align: center;
    line-height: 24px;
    margin: -2px;
}
/* place */
.place-list{
    margin-top:32px;
}
.place-item{
    padding:0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color:#fff;
    font-size:15px;
    padding-left:16px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600px;
    padding:16px 0 25px 0;
}
.place-time{
    color:#757575;
    padding-bottom: 20px;
}
.place-desc{
    padding-bottom: 25px;
    line-height:20px;
}
.place-buy-btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 16px;
    display: inline-block;
    margin-bottom: 15px;
}
/* modal */
.modal{
    position: fixed;
    top: 0;bottom: 0;left: 0;right: 0;
    background-color:rgba(0, 0, 0, 0.3);
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-container{
    background-color: #fff;
    width:900px;
    max-width: calc(100% - 32px);
    min-height:200px;
    position: relative;
}
.modal-header{
    background: #009688;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 47px 16px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    padding:16px;
}
.modal-close:hover{
    color:#000;
    background-color:#ccc;
}
.modal-header-icon {
    padding-right:16px;
}
.modal-body{
    padding: 16px 16px 0 16px;
}
.modal-label{
    display: block;
    margin-bottom: 12px;;
}
.modal-input{
    width: 100%;
    padding:10px;
    margin-bottom:24px;
    border:1px solid #ccc;
}
#buy-tickets{
    background-color: #009688;
    color:#fff;
    width:100%;
    padding:20px;
    border:none;
    font-size: 15px;
}
#buy-tickets:hover{
    background-color: #ccc;
    color:#000;
}
.modal-footer{
    float:right;
    padding:35px 16px 20px 0;
}
.moldal-footer a{
    color:#2196F3;
}
/* contact */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size:18px;
    line-height:1.4;
}
.contact-info i[class*="ti-"] {
    width:30px;
    display: inline-block;
}
.contact-form{
    font-size:15px;
}
.contact-form .form-control{
    padding:10px;
    border:1px solid #ccc;
    width:100%;
}
.row::after{
    content:"";
    display:block;
    clear:both;
}
.form-submit-btn {
    background-color:#000;
    color:#fff;
    border: none;
    padding:12px 17px;
    float: right;
    cursor: pointer;
}
/* map */
.img-section img{
    width:100%;
}
/* footer */
#footer{
    padding: 64px 16px;
    text-align: center;
}
.socials-list a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
    font-size: 24px;
}
.copy-right {
    margin-top:15px;
    color:rgba(0, 0, 0, 0.6);
}
#footer .copy-right a {
    color:rgba(0, 0, 0,0.6);
}
#footer .copy-right a:hover,
#footer .socials-list a :hover {
    color:rgba(0, 0, 0,0.4);
}